@import '~antd/dist/antd.css';

.main-section {
  color: #fff;
  height: 100vh;
  background-image: url('./images/bg.png');
  background-size: cover;
}

.title {
  color: #403681;
  padding: 24px 64px;
  width: 100%;
  font-size: 3em;
}

.picker-container {
  border: 4px solid #403681;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 10%;
  left: 8%;
  color: black;
}

.circles {
  padding: 48px;
}

img.icon {
  padding: 20px 60px;
  height: 160px;
  filter: hue-rotate(210deg) brightness(0.7)
}

.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  background-color: gray;
}

.dress-model {
  background: url('./images/postac_biodra.png');
  background-size: cover;
  width: 200px;
  height: 650px;
  position: relative;
  left: 42%;
  top: 14%;
}

.sheets {
  background: url('./images/sheets.png');
  background-size: 150% 110%;
  background-position: center;
  position: fixed;
  left: 20%;
  margin:0 auto;
  width: 900px;
  height: 100%;
}