@import '~antd/dist/antd.css';

.main-section {
  color: #fff;
  height: 100vh;
  background-image: url('./images/bg.png');
  background-size: cover;
}

.picker-container {
  border: 5px solid blue;
  width: 100px;
  height: 100px;
  position: relative;
  top: 5%;
  left: 5%;
}