@import '~antd/dist/antd.css';

.main-section {
  color: #fff;
  height: 100vh;
  background-image: url('./images/bg.png');
  background-size: cover;
}

.main-section.bg2{
  background-image: url('./images/bg2.png');
}

.title {
  color: #403681;
  padding: 24px 64px;
  width: 100%;
  font-size: 3em;
}

.picker-container {
  border: 4px solid #403681;
  width: 400px;
  height: 500px;
  position: fixed;
  top: 10%;
  left: 8%;
  color: black;
}

.circles {
  padding: 48px;
}

img.icon {
  padding: 20px 60px;
  height: 160px;
  filter: hue-rotate(210deg) brightness(0.7)
}

.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  background-color: gray;
}

.dress-model {
  width: 200px;
  height: 67vh;
  position: relative;
  left: 42%;
  top: 14%;
  background-size: contain;
}

.sheets {
  background: url('./images/sheets.png');
  background-size: 150% 110%;
  background-position: center;
  position: fixed;
  left: 20%;
  margin:0 auto;
  width: 900px;
  height: 100%;
}

.collar-area {
  position: relative;
  width: 10vh;
  height: 10vh;
  /* border: solid red 1px; */
  top: 10%;
  left: 4%;
}

.arms-area {
  position: relative;
  width: 9.5vh;
  height: 9.5vh;
  /* border: solid green 1px; */
  top: 9%;
  left: 11vh;
}

.hip-area {
  position: relative;
  width: 10vh;
  height: 10vh;
  /* border: solid blue 1px; */
  top: 2%;
}

.width-area {
  position: relative;
  width: 18vh;
  height: 18vh;
  /* border: solid orange 1px; */
  top: 3%;
  left: 4%;
}

.dress-0 {
  background: url('./images/postac_kolnierz.png') no-repeat;
  background-size: contain;
}

.dress-1 {
  background: url('./images/postac_rekawy.png') no-repeat;
  background-size: contain;
}

.dress-2 {
  background: url('./images/postac_biodra.png') no-repeat;
  background-size: contain;
}

.dress-3 {
  background: url('./images/postac_dlugosc.png') no-repeat;
  background-size: contain;
}


.dress-dots {
  background-color: black;
  color: black;
}

.dress-carousel {
  position: relative;
  top: 14vh;
}

.dress-carousel .slick-dots li.slick-active button {
  background: black;
}

.dress-carousel .slick-dots li button {
  background: black;
}

.dress-2-0 {
  background: url('./images/sylw_02_kol.png') no-repeat;
  background-size: contain;
}

.dress-2-1 {
  background: url('./images/sylw_02_rekaw.png') no-repeat;
  background-size: contain;
}

.dress-2-2 {
  background: url('./images/sylw_02_talia.png') no-repeat;
  background-size: contain;
}

.dress-2-3 {
  background: url('./images/sylw_02_dl.png') no-repeat;
  background-size: contain;
}

.collar-area-2 {
  position: relative;
  width: 8vh;
  height: 8vh;
  /* border: solid red 1px; */
  top: 13%;
  left: 2vh;
}

.arms-area-2 {
  position: relative;
  width: 8vh;
  height: 8vh;
  /* border: solid green 1px; */
  top: 11%;
  left: 17vh;
}

.hip-area-2 {
  position: relative;
  width: 8vh;
  height: 8vh;
  /* border: solid blue 1px; */
  top: 7%;
  left: 1vh;
}

.width-area-2 {
  position: relative;
  width: 14vh;
  height: 13vh;
  /* border: solid orange 1px; */
  top: 21%;
}